<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../css/styles.css">
    <title>Bootstrap Grid System</title>
  </head>

  <body>
    <div class="container" id="grid-example"> <!-- bootstrap grid system example -->

      <div class="row"> <!-- page header -->
        <div class="wrap">

          <div class="col-xs-6">
            <div class="outer">
              <div class="inner">

                <h1>My Company Name</h1>

              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="outer">
              <div class="inner">

                <button class="btn btn-success">Register</button>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- end page header -->

      <div class="row"> <!-- page content -->
        <div class="wrap">

          <div class="col-xs-2"></div>

          <div class="col-xs-8">
            <div class="content">
              <p>Some content will be placed here . . .</p>
            </div>
          </div>

          <div class="col-xs-2"></div>

        </div>
      </div> <!-- end page content -->

      <div class="row"> <!-- page footer -->
        <div class="wrap">

          <div class="col-xs-6">
            <div class="outer">
              <div class="inner">

                <p>Copyright &copy; Coder Camps 2017</p>

              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="outer">
              <div class="inner">

                <button class="btn btn-primary">Subscribe</button>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- end page footer -->

    </div> <!-- end bootstrap grid system example -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/../javascripts/script.js"></script>
  </body>

</html>
