<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../css/styles.css">
    <title>Keyframe Animations</title>
  </head>

  <body>
    <div class="container" id="keyframes-example"> <!-- keyframes example -->
      <div class="row">
        <div class="wrap">
          <div class="col-xs-12">

            <ul>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
              <li class="animated">Item</li>
            </ul>

          </div>
        </div>
      </div>
    </div> <!-- end keyframes example -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/../javascripts/script.js"></script>
  </body>

</html>
